header{

    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{

    text-align: center;
    height: 100%;
    position: relative;
}

/* Applying CSS for CTA */

.cta{

    margin-top: 2.5rem;  /*to push buttons littlebit down*/
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Applying CSS for HeaderSocials */

.header__socials{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{

    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* Applying CSS for My image */

.me{

    display: flex;
    background: linear-gradient(var(--color-primary), transparent);
    width: 21rem;
    height: 23rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 20rem 20rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1,5rem 1.5rem;
}

.me > img{

    margin-left: 3.5rem;
    width: 70%;
    max-width: 100%;
    height: auto;
    border-radius: 15rem 15rem 0rem 0rem;
}

/* Applying CSS for Scroll Down */

.scroll__down{

    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* Media queries for medium devices(Tablets) */
@media screen and (max-width: 1024px) {
    header {
        height: 50vh; /* Adjusted height for medium devices */
    }
}

/* Media queries for small devices (Mobiles) */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    /* Styling for the image container */
    .me {
        width: 70%; /* Adjusted width for small devices */
        max-width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 2rem;
        margin-bottom: 0rem;
        overflow: hidden;
        border-radius: 50% 50% 0 0; /* Half-circle effect */
    }

    /* Styling for the image itself */
    .me > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-left: -0.05%;

    }
}

/* Specific styles for iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .me {
        width: 85%; /* Adjust the width as needed for iPhone X */
    }
}
